<div class="container">
    <form asp-action="UploadFile">
        <div class="form-group">
            <label class="form-label">File:</label>
            <input type="file" name="file" />
        </div>
        <button class="btn btn-success">Load</button>
    </form>
</div>